.slider{
    position: relative;

}

.slider a{
  margin-top: 60px;
  text-decoration: none;
  position: relative;
}

.slider span{
  position: absolute;
  top: 3%;
  margin-left: 5px;
  background-color: gray;
  color: white;
  font-size: .8rem;
  padding: 1px 9px;
}

.slider img{
  width: 100%;
  height: 500px;
}

.slider .prev_arrow{
  position: absolute;
  top: 50%;
  left: 4%;
  z-index: 10;
  color: #fff;
  width: 24px;
  height: 50px;
  background: #adb5bd;
  border-radius: 15%;
  text-align: center;
  line-height: 49px;
  display: inline-block;
  cursor: pointer;
}

.slider .next_arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 4%;
    color: #fff;
    width: 24px;
    height: 50px;
    background: #adb5bd;
    border-radius: 15%;
    text-align: center;
    line-height: 49px;
    display: inline-block;
    cursor: pointer;
}

.slider .prev_arrow:hover,
.slider .next_arrow:hover{
  background-color: #816da7;
}

.item-slick.slick-slide.slick-current.slick-active{
	outline: none!important;
  border: 4px solid blue;
}

.slider-nav{
   position: relative;
   outline: none;
}

.slider-nav .prev_arrow{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  color: #fff;
  width: 24px;
  height: 82px;
  background:  rgba(5, 52, 255, 0.6);
  border-radius: 0px 0px 0px 4px;
  text-align: center;
  line-height: 80px;
  display: inline-block;
  cursor: pointer;
}

.slider-nav .next_arrow{
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  color: #fff;
  width: 24px;
  height: 78px;
  background: rgba(5, 52, 255, 0.6);
  border-radius: 0px 0px 4px 0px;
  text-align: center;
  line-height: 80px;
  display: inline-block;
  cursor: pointer;
}

.slider-nav .item-slick{
    max-width: 240px;
		outline: none!important;
		cursor: pointer;
}

.slider-nav .item-slick img{
  height: 78px;
  width: 100%;
}

/* fancybox styles */
.myFancyBox .fancybox-thumbs {
  top: auto;
  width: auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: 95px;
  padding: 10px 10px 5px 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
}

.myFancyBox .fancybox-show-thumbs .fancybox-inner {
  right: 0;
  bottom: 95px;
}
/* fancybox style end */

.detail-header{
  color: rgb(6, 160, 157);
}

.detail-name{
  color: rgb(49, 60, 83);
}

.detail-model{
  margin: calc(4px) 0px calc(16px);
  color: rgb(49, 60, 83);
}

.detail-price{
  color: rgb(218, 25, 25);
  line-height: 1.25;
  font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

.detail-save{
  color: rgb(6, 160, 157);
  line-height: 1.25;

}

.detail-hr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1 !important;
  color: rgb(42, 101, 186);
  cursor: pointer;

}

.detail-hr:hover{
  color: rgb(6, 160, 157);
}

.detail-messageBtn{
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  border: none;
  outline: none;
  margin-top: 8px;
  padding: 8px 158px;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.25s ease-in-out 0s;
  background: rgb(5, 52, 255);
  color: rgb(255, 255, 255);
}

.detail-messageBtn:hover{
  color: rgb(255, 255, 255);
  background: rgb(60, 92, 233);

}

.detail-car_price{
  color: rgb(102, 102, 102);;
}

.grey-bg{
  width: 100%;
  height: auto;
  background: rgb(247, 247, 245);
  padding: 20px;
  color: rgb(42, 101, 186);
  margin-bottom: 20px;
}

.logo{
  width: 78%;
  height: 40px;

}

.company-name{
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.2;
  color:  blue;
  margin-top:10px;
}

.review-stars{
  color: orange;
}

.review-num{
  color: black;
  font-weight: 500;
  font-size: 16px;

}

.review-people{
  font-size: 14px;
  font-weight: 300;
}

.phone-number{
  font-size: .9em;
  line-height: 1.5;
}

.phone-number:hover{
  color: rgb(8, 40, 175);
}

.text-chat{
  font-size: .9em;
  line-height: 1.5;
  position: relative;
}

.text-chat_chat{
  position: absolute;
  right: 50%;
}


/* total price table styles */
.enquire-header{
  margin: 0px;
  padding: 0px calc(4px) calc(16px);
  color: rgb(49, 60, 83);
  font-size: 1.25em;
  /* line-height: 1.1; */
}

.enquire-table{
  position: relative;
  border: 6px solid rgb(247, 247, 245);
  border-top: 3px solid  #0828af;
  border-radius: 5px;
  padding: 20px 25px;
  margin-bottom: 20px;
  width: 100%;

}

.enquire-table-header{
  font-size: 16px;
  line-height: 1;
  width: 100%;
  text-align: center;
  color: blue;
  font-weight: 500;
}

.enquire-table-add{
  position: relative;
}

.enquire-table-add-text{
  font-size: .875em;
  line-height: 1.42857;
  font-weight: 400;
  color: #666;
}

.enquire-table-add-icon{
  position: absolute;
  right: 0;
  color: blue;
  font-size: .875em;

}

.enquire-table-pay{
  position: relative;
  color: #222b5e;
  font-size: .875em;
  line-height: 1.42857;
  font-weight: 400;
}

.enquire-table-pay-price{
  position: absolute;
  right: 0;
}

.enquire-table-link{
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.25s ease-in-out 0s;
  width: 70%;
  margin-left: 60px;
  background-color: transparent;
  color: rgb(5, 52, 255);
  box-shadow: rgb(5 52 255) 0px 0px 0px 1px inset;
}

.enquire-table-link:hover{
  background-color: rgb(235, 231, 231);
}

.overview-header{
  color: rgb(49, 60, 83);
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-size: 1.625em;
  line-height: 1.23077;
  font-weight: 500;
  text-transform: capitalize;
}

/* overview */
.overview-sub-header{
  line-height: 1.42857;
  font-weight: 400;
}

.overview-para{
  color: rgb(102, 102, 102);;
}

/* description */
.desc{
  margin-bottom: 25px;

}

.desc-header{
  color: rgb(49, 60, 83);
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-size: 1.65em;
  font-weight: 500;
  text-transform: capitalize;
}

.desc-para{
  font-size: .9em;
  color: rgb(102, 102, 102);
  line-height: 1.4;
  font-weight: 400;
}

.desc-para span{
  color: blue;
  cursor: pointer;
}

.desc-modal-title{
  font-size: 1.8em;
  font-weight: 500;
  color: rgb(49, 60, 83);
}

.btn-close{
  outline: none;
  border: none;
}

.modal-car-details h6{
  font-size: 1.2em;
  font-weight: 500;
  color: rgb(49, 60, 83);
}

.modal-car-details li{
  font-size: .95em;
  line-height: 1.5;
  font-weight: 400;
}

.modal-header{
  padding: 0.4rem 1rem;
}

/* specification */
.spec{
  position: relative;
  cursor: pointer;
}

.spec-chevron{
  position: absolute;
  right: 0;
}

.spec-header{
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(49, 60, 83);
  margin-left: 12px;
}
.spec-img{
  width:28px;
}

.spec-modal{
  display: none;
  position: fixed;
  z-index: 15;
  padding-top: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.spec-modal-content{
  width: 50%; 
  height: 95%;
  background-color: #fefefe;
  margin:10px auto;
  border-radius: 3px;
  padding: 10px 20px;
  overflow: auto;
}

.spec-content{
  margin: auto;
  padding: .1px 5px;
  border: 1px solid #888;
  width: 80%;
  border: none;
  outline: none;
  border-radius: 3px;
  overflow: auto;
}

.close{
  color: blue;
  float: right;
  font-size: 30px;
  font-weight: 300;

}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.spec-content h1{
  text-align: center;
  color: rgb(49, 60, 83);
  font-size: 1.65em;
  font-weight: 500;
}

/* cost modal styles */
.cost-modal{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.cost-modal-text{
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(49, 60, 83);
}

.cost-header{
  color: rgb(49, 60, 83);

}

.insurance_img img{
  width: 25px;

}

.insurance_img h3{
  color: rgb(49, 60, 83);
  margin-block: 0.83em;
  margin-left: 10px;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: capitalize;
}

.insurance-para{
  line-height: 1.42857;
  font-weight: 400;
  color: rgb(49, 60, 83);
  margin-left: 40px;  

}
.one{
  font-size: .8rem;
  font-weight: 400;
  opacity: .8;

}

.two{
  opacity: .5;
  font-size: .8rem;
  font-weight: 400;

}
.three{
  opacity: .5;
  font-size: .8rem;
  font-weight: 400;
}

.get-quote-div{
  position:relative;
  overflow: hidden;

}

.get-quote-text{
  position: absolute;
  right: 20%;
}

.tax-img img{
 width: 28px;
}

.tax-img h3{
  color: rgb(49, 60, 83);
  margin-block: 0.83em;
  margin-left: 10px;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: capitalize;
}

.tax-para{
  line-height: 1.42857;
  font-weight: 400;
  color: rgb(49, 60, 83);
  margin-left: 40px;  
}

.tax-cash-km{
  line-height: 1.42857;
  font-weight: 400;
  color: rgb(49, 60, 83);
}

.fuel img{
  width: 25px;
  height: 30px;

}
.fuel h3{
  color: rgb(49, 60, 83);
  margin-left: 10px;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: capitalize;
}

.fuel p{
  line-height: 1.4;
  font-weight: 600;
  font-size: .8rem;
  color: rgb(49, 60, 83);
  opacity: .6;
}

.fuel-mpg{
  line-height: 1.42857;
  font-weight: 400;
  color: rgb(49, 60, 83);
}

.footer-modal h5{
  font-weight: 700;
  color: rgb(49, 60, 83);
  line-height: 1;
  font-size: .8rem;
}

.footer-modal p{
  font-size: .75em;
  line-height: 1.33333;
  font-weight: 400;
  opacity: .5;
}

/* running cost end */

/* insurance */
.insurance{
  position: relative;
}
.insurance-txt{
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(49, 60, 83);
}

.insurance-quote{
  position: absolute;
  right: 0;
  color: #0828af;
  text-decoration: underline;
  font-weight: 500;
  font-size: 1rem;
}
/* insurance end */

/* accordions */
.accordion-{
  width: 100%;
  margin-block: 15px;
}

.accordion- p{
    font-size: 1.18rem;
    margin-block:0px;
    padding: 16px 16px 16px 14px;
    border-top:1px solid lightgrey;
    outline: none;
    position: relative;
    width: 100%;
    font-weight: 400;
    opacity: .8;
    transition: border-color .25s ease-in-out;
    cursor:pointer;
    border-left: 4px solid transparent;
    

}

.accordion- p:hover{
  border-left: 4px solid blue;
}

.accordion- div{
  display:none;
  padding:15px;
  line-height:20px;
  max-height: rem(46);
  transition: max-height 5s ease-in;
}

.accordion-content{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
  outline: none;
  border: none;
  margin-bottom: 14px;
  padding-block: 30rem;
  max-height: rem(800);
  transition: max-height 5s ease-in;
}

.accordion-content li{
  list-style: none;
  line-height: 1.8;
  padding: 8px;
  
}
.accordion-content span{
  font-size: .8em;
  line-height: 1.8;
  color: #666;
  padding-left: 18px;
}
.accordion-content button{
  outline: none;
  border: 1px solid #0534ff;
  padding: 8px 16px;
  margin-left: 10px;
  background-color: white;
  color: #0534ff;

}
.accordion-content_2{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
  outline: none;
  border: none;
  margin-bottom: 14px;
  padding-block: 30rem;
  max-height: rem(800);
  transition: max-height 5s ease-in;
}
.accordion-content_2-ul li{
  list-style: none;
  padding: 8px;
  line-height: 1.8;
  font-size: .875em;
  color: #666;

}

.accordion-content-covid li{
  padding: 2px;
  line-height: 2;
  font-size: .875em;
  color: #666;
}

.accordion-content-services{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
  outline: none;
  border: none;
  margin-bottom: 14px;
  padding-block: 30rem;
  max-height: rem(800);
  transition: max-height 5s ease-in;
  margin-bottom: 10px;



}
#accordionhead_4{
  border-bottom:1px solid lightgrey;

}

/* accordions end */

/* Hatchback styles */
.hatchback{
  text-decoration: none;
}

.hatchback h1{
  font-weight: 500;
  font-size: 1.65em;
  line-height: 1;
  color: rgb(49, 60, 83);
  margin-block: .8em;
}

.hatchback-para-text{
  color: rgb(49, 60, 83);
  font-size: .9em;
  line-height: 1;
  font-weight: 500;
}

.hatchback-read-reviews{
  color: rgb(42, 101, 186);
  font-size: .9em;
  line-height: 1;
  font-weight: 500;
}
/* end hatchback styles */

/* part exchange */
.exchange{
  text-decoration: none;

}

.exchange h1{
  font-weight: 500;
  font-size: 1.65em;
  line-height: 1;
  color: rgb(49, 60, 83);
  margin-block: .8em;
}

.exchange p{
  display: inline-block;
  flex: 1 1 0px;
  color: rgb(102, 102, 102);
  margin-bottom: 0px;
  padding-right: calc(16px);
  font-size: .9em;
}

.exchange p span{
  color: rgb(42, 101, 186);
  font-weight: 500;

}
/* end part exchange */

/* buy first car styles */
.buy h1{
  font-weight: 500;
  font-size: 1.65em;
  line-height: 1;
  color: rgb(49, 60, 83);
  margin-block: .8em;
}

.buy p{
  color: rgb(102, 102, 102);
  margin-bottom: 0px;
  padding-right: calc(16px);
  font-size: .9em;
}

.buy p span{
  color: rgb(42, 101, 186);
  font-weight: 500;
}
/* end buy first car */

/* about seller styles */
.about-seller h1{
  font-weight: 500;
  font-size: 1.65em;
  color: rgb(49, 60, 83);
}

.about-seller img{
    display: block;
    width: 100%;
    max-width: 300px;
    max-height: 50px;
    margin: 0px 0px calc(12px);
}

.about-seller a{
  text-decoration: none;
}

.about-seller h2{
  display: block;
  margin-top: 16px;
  word-break: break-word;
  font-weight: 400;
  font-size: 1.25em;
  color: #0534ff;
}

/* .accordion{
  border: none !important;
} */
.more-cars{
  padding: 40px;
  background-color: rgb(247, 247, 245);
  width: 100%;
  position: relative;
}

.more-cars h2{
  color: rgb(49, 60, 83);
  
  font-size: 1.65em;
  font-weight: 500;
  text-transform: capitalize;
}
.card{
  border: none;
  outline: none;
  cursor: pointer;
  min-height: 330px;
  border-radius: 0 !important;
}

.card:hover{
  box-shadow: 0px 2px 0px 2px rgba(0,0,0,.2);


}
.more-car-price-para{
  /* margin: 1px; */
  /* border-top:1px solid lightgrey; */
  border-bottom:1px solid lightgrey;
}

.more-cars-num{
  position: absolute;
  font-size: .7rem;
  font-weight: bold;
  color: white;
  left: 2%;
  top: 2%;
  background-color: #adb5bd;
  padding: 1px 15px;

}
.more-cars-price{
  padding: 10px 15px;
}
.more-cars-price:nth-child(1){
  font-size: 11px;
  font-weight: 700;
}
.text-deco{
  text-decoration: line-through;
}
.more-cars-price:nth-child(2){
  font-size: 16px;
  font-weight: bold;
  color: red;
  line-height: 24px;
  margin-top: 10px;
}

.more-cars-price:nth-child(3){
  font-size: 11px;
  font-weight: 700;
  color: #06A09D;
}
.more-cars-save{
  background-color: #06A09D;
  color: #ffff;
  padding: 2px 8px;
  border-radius: 5px;
}

.more-car-details-para-one{
  font-size: 16px;
  color: #0828af;
  padding-inline: 10px;
  margin-bottom: 0;
}
.more-car-details-para-two{
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  color: #666666;
  padding-inline: 10px;
  margin-bottom: 8px;
}


/* advert styles start */

.advert{
  padding: 40px;
  overflow: hidden;
}
.advert h2{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #313C53;

}

.advert h3{
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #313C53;
}
.advert p{
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}



.back-to-top {
  font-size: 14px;
  line-height: 20px;
  color: #222b5e;
}